name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 14
      uses: actions/setup-node@v3
      with:
        node-version: 14
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm test
    - name: Run ESLint
      run: npx eslint '**'
      continue-on-error: true

    - name: docker login
      env:
        USERNAME: ${{ secrets.DOCKERHUB_PASSWORD }}
        PASSWORD: ${{ secrets.DOCKERHUB_USERNAME }}
      run: |
        docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p  ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag vidd1992/devsu:${{ github.sha }}
    - name: Docker push
      run: docker push vidd1992/devsu:${{ github.sha }}
    - name: Configure AWS CLI
      run: |
        aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws configure set region ${{ secrets.AWS_REGION }}
    - name: Install and configure kubectl
      run: |
        curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
        chmod +x kubectl
        sudo mv kubectl /usr/local/bin/
        echo "${{ secrets.KUBECONFIG }}" > kubeconfig.yaml
    - name: Update Kubernetes deployment file
      run: sed -i "s|vidd1992/devsu:latest|vidd1992/devsu:${{ github.sha }}|g" devsuprueba_deployment.yaml
    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f devsuprueba_deployment.yaml --kubeconfig=kubeconfig.yaml
